.jodit_theme_internal_note .jodit-wysiwyg {
  background-color: #fffee8;
}
.square-switch {
  margin-right: 7px;
}

.square-switch input[switch] + label,
.square-switch input[switch] + label:after {
  border-radius: 4px;
}
input[switch]:checked + label {
  background-color: #07456B;
}
input[switch]:checked + label:before {
  color: #fff;
  content: attr(data-on-label);
  right: auto;
  left: 3px;
}
input[switch] + label:before {
  color: #343a40;
  content: attr(data-off-label);
  display: block;
  font-family: inherit;
  font-size: 12px;
  line-height: 21px;
  position: absolute;
  right: 1px;
  margin: 3px;
  top: -2px;
  min-width: 1.66667rem;
  overflow: hidden;
}

input[switch] + label,
input[switch] + label:before {
  text-align: center;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
}

.square-switch input[switch] + label,
.square-switch input[switch] + label:after {
  border-radius: 4px;
}

input[switch]:checked + label:after {
  left: 33px;
  background-color: #eff2f7;
}
input[switch] + label:after {
  content: '';
  position: absolute;
  left: 3px;
  background-color: #eff2f7;
  box-shadow: none;
  border-radius: 2rem;
  height: 20px;
  width: 20px;
  top: 2px;
  transition: all 0.1s ease-in-out;
}
.MuiDialog-container .jodit-toolbar__box {
  top: -25px !important;
}