.react-tel-input .form-control {
    width: 100%;
    border: 1px solid #ced4da;
}

.inputStyle {
    width: 3rem !important;
    height: 3rem;
    margin: 0 1rem;
    font-size: 2rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
